/*BOdy style section*/
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*container style section*/
.container{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgb(144, 5, 123);
    border-radius: 20px;
}

/*P style section*/
p{
    font-size: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgba(238, 24, 171, 0.768);
    cursor: pointer;
}

p:hover{
   cursor: pointer;
   transform: scale(1.1);
}
/*Button style section*/
button{
  color:white;
  width: 80px;
  height: 30px;
  font-size: 20px;
  border-style: none;
  border-radius: 10px;
  background-color: rgba(238, 24, 171, 0.768);
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  cursor: pointer;
}

.btn-container{
  display: flex;
  gap: 22px;
}
