body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0.03);
    border-radius: 20px;
}

p{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgba(238, 24, 171, 0.768);
    cursor: pointer;
}

p:hover{
   cursor: pointer;
   transform: scale(1.1);
}

button{
  color:white;
  width: 80px;
  height: 30px;
  font-size: 20px;
  border-style: none;
  border-radius: 10px;
  background-color: rgba(238, 24, 171, 0.768);
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
  cursor: pointer;
}

.btn-container{
  display: flex;
  gap: 22px;
}
